/Worship-pad/.vs/Worship-pad/FileContentIndex
/Worship-pad/.vs/Worship-pad/FileContentIndex
*.vsidx
/Worship-pad/Worship-pad/bin
/Worship-pad/Worship-pad/obj
/Worship-pad/.vs
/Worship-pad/.vs/Worship-pad/CopilotIndices
/Worship-pad/.vs
/Worship-pad/.vs
/Worship-pad/Worship-pad/Properties
/Worship-pad/Worship-pad/Properties
